* {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
	user-select: none;
}

body {
    background-color: rgb(230, 226, 208);
}
.titulo{
    color: gray;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    margin: 10px;
}
.puntos{
    display: block;
    float: right;
}

.reinicio {
    color: #fff !important;
    background: #ed3330;
    padding: 10px;
    border-radius: 5px;
    display: block;
    margin: 5px;
    float: right;
    border: none;
    transition: all 0.4s ease 0s;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}
.reinicio:hover {
    background: #434343;
    transition: all 0.4s ease 0s;
}

.fila {
    height: 25%;
    width: 100%;
    box-sizing: border-box;
}

.juego{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.tablero {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: gray;
    border-radius: 7px;
    border: 2px solid gray;
}

.celda {
    width: 125px;
    height: 125px;
    float: left;
    border: 2px solid gray;
    box-sizing: border-box;
    border-radius: 7px;
    transition: all 100ms;
}

.vacia {
    background-color: darkgray;
}

.llena {
    position: absolute;
    line-height: 116.25px;
    text-align: center;
    font-weight: bold;
    font-size: 55px;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    color: #777064;
}

.v2{
    background-color: #eee4da;
}

.v4{
    background-color: #ede0c8;
}

.v8{
    background-color: #f2b179;
    color: #f9f6f2;
}

.v16{
    background-color:   #f59563;
    color: #f9f6f2;
}

.v32{
    background-color:   #f67c5f;
    color: #f9f6f2;
}

.v64{
    background-color:   #f65e3b;
    color: #f9f6f2;
}

.v128{
    background-color:   #edcf72;
    color: #f9f6f2;
    font-size: 45px;
}

.v256{
    background-color:   #edcc61;
    color: #f9f6f2;
    font-size: 45px;
}

.v512{
    background-color:   #edc850;
    color: #f9f6f2;
    font-size: 45px;
}

.v1024{
    background-color:   #edc53f;
    color: #f9f6f2;
    font-size: 35px;
}

.v2048{
    background-color:   #edc22e;
    color: #f9f6f2;
    font-size: 35px;
}

.fichas {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}

.f0 {
    top: 0px;
}

.f1 {
    top: 125px;
}

.f2 {
    top: 250px;
}

.f3 {
    top: 375px;
}

.c0 {
    left: 0px;
}

.c1 {
    left: 125px;
}

.c2 {
    left: 250px;
}

.c3 {
    left: 375px;
}

.list-enter-active, .list-leave-active {
    transition: all 200ms;
}

.list-enter, .list-leave-to{
    transform: scale(0);
    opacity: 0;         
}